@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChang-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: 'PyeongChang-Regular', 'PyeongChang-Bold', 'PyeongChangPeace-Bold', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html,
body {
  padding: 15px 20px;
  margin: 0;
  font-family: 'PyeongChang-Regular', 'PyeongChang-Bold', 'PyeongChangPeace-Bold', 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiBottomNavigation-root .MuiButtonBase-root svg {
  font-size:30px;
  color: #98C064;
}

.MuiBottomNavigation-root .Mui-selected svg{
  font-size:35px;
  color: #65ACE2;
}

.css-1cx4pt4-MuiBottomNavigationAction-label.Mui-selected {
  color:#98C064;
  font-family: 'PyeongChang-Regular';
  font-size: 13px;
}

.MuiBottomNavigation-root {
  height:100px;
}
.MuiBottomNavigationAction-label {
  font-family: 'PyeongChang-Regular';
  font-size:13px;
}

.MuiButtonBase-root {
  font-family: 'PyeongChang-Regular';
  font-size: 13px;
}